{% extends "base.html" %}

{% block content %}
    <h1 class="display-4 mt-3">Log in</h1>
    <br>

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed, please login with
        an account that has access.</p>
    {% else %}
      <p class="text-info lead">Please login to see this page.</p>
    {% endif %}
  {% endif %}

  {% if form.errors %}
    <p class="text-danger" >Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-primary" type="submit" value="login">Login</button>
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>
  <br>

  <p>
    <a class="lead" href="{% url 'password_reset' %}">Lost password?</a>
  </p>


<style>
  #id_username, #id_password {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
</style>

{% endblock %}
