{% extends "base.html" %}
{% block content %}

  <h1 class="display-4">Reset Password</h1>
  <span class="lead">Please enter your email below.</span>
  <br>
  <form method="post">{% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
    <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-primary btn-lg" value="Reset password"/>
  </form>

  <style>
      #id_email {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    </style>

{% endblock %}
