* {
    margin: 0;
    padding: 0;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

h1 {
    color: rgb(53, 141, 182)
}

.red {
    color: rgb(238, 93, 93)
}

.blue {
    color: rgb(66, 152, 228)
}

.green {
    color: rgb(71, 192, 97)
}

.yellow {
    color: rgb(236, 214, 87)
}