* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
  }

h1 {
    color: #535353;
    font-weight: 300;
    font-size: 4.2rem
}

.red {
    background-color: #FFA8A8 !important;
}

.red > .note-title {
    background-color: #FB8585
}

.blue {
    background-color: #A8C3FF !important;
}

.blue > .note-title {
    background-color: #7AA1FA
}

.green {
    background-color: #90EAA1 !important;
}

.green > .note-title {
    background-color: rgb(123, 209, 138)
}

.yellow {
    background-color: #FFE9A8 !important;
}

.yellow > .note-title {
    background-color: #FADA7A
}

#searchInput {
    width: 100%;
    margin: 30px 0 20px;
    border-radius: 25px;
    border-style: none;
    padding: 0px 15px 5px;
    font-size: 1.6rem;
    height: 35px;
    font-weight: 300;
    background-color: #4B4B4B;
    color: #8E8E8E;
    text-align: right;
}

::placeholder {
    color: #8E8E8E !important
}

.sort-icons {
    color: #727272;
    margin-bottom: 20px;
}

.note-list {
    overflow-y: scroll;
    height: 73vh;
}

.note {
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #F0F0F0;
    height: 180px;
    padding: 0;
    color: #333333
}

.note-title {
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.note-body {
    padding: 25px 20px;
}

.note-footer {
    padding: 20px 20px;
    color: #5C5C5C;
}

.notes-container {
    --grid-gutter: 100px;
    --max-columns: 3;
    --extensions-card-width: 640px;
    display: grid;
    grid-column-gap: var(--grid-gutter);
    grid-template-columns: repeat(auto-fill, var(--extensions-card-width));
    margin: auto;
    max-width: calc(var(--extensions-card-width) * var(--max-columns) + var(--grid-gutter) * var(--max-columns));
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .test {
        width: 250px !important;
    }

    .est {
        padding-left: 50px;
    }
}

@media only screen and (min-width: 1198px) {
    .test {
        width: 280px !important;
    }

    .est {
        padding-left: 120px;
    }
}

