{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h1>Notes</h1>
{% if user.is_authenticated %}
    {% if notes %}
    Total number of notes: <b>{{ numNotes }}</b><br><br>
    {% for note in notes %}
        {% if note.owner.get_username == user.get_username %}
            <a href="note/{{note.id}}" class="{{ note.colour }}">{{ note.title }}</a>
            <br>
            <b>created:</b> {{ note.dateCreated|naturalday }}<br>
            <b>due:</b> {{ note.dateDue|naturaltime }}
            <br>
            {{ note.colour }}
            <br>
            <br>
        {% endif %}
    {% endfor %}
{% else %}
    no notes
{% endif %}
    {% else %}
        Please log in to see your notes.
        <br>
        <a href="{$ login $}"></a>
    {% endif %}
    <br>
    <a href="{% url 'index' %}">back</a>
{% endblock %}