{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <h1>Info Page</h1>
    {% if notes %}
        {% for note in notes %}
            <span class="{{ note.colour }}">{{ note.title }}</span>
            <br>
            <b>created:</b> {{ note.dateCreated|naturalday }}<br>
            <b>due:</b> {{ note.dateDue|naturaltime }}
            <br>
            {{ note.colour }}
            <br>
            <br>
            <br>
        {% endfor %}
    {% else %}
        no notes
    {% endif %}
    <br>
    <a href="/">back</a>
</body>
</html>

<style>
    h1 {
        color: rgb(53, 141, 182)
    }

    .red {
        color: rgb(238, 93, 93)
    }

    .blue {
        color: rgb(66, 152, 228)
    }

    .green {
        color: rgb(71, 192, 97)
    }

    .yellow {
        color: rgb(236, 214, 87)
    }
</style>