{% extends "base.html" %}

{% block head %}
  {{ form.media }}
{% endblock head %}

{% block content %}
  <form action="" method="POST">
    {% csrf_token%}
    <table>
      {{ form }}
    </table>
    <button type="submit">Submit</button>
  </form>
  <br><br>
  <a href="{% url 'notes' %}" class="btn btn-primary">back</a>
{% endblock %}

{% block sidebar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'notes' %}">My Notes</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'noteCreate' %}">Add Note</a>
  </li>
{% endblock %}