{% extends "base.html" %}

{% block head %}
  {{ form.media }}
{% endblock head %}

{% block content %}
  <h1 id="title" class="display-4 mt-3">Add Note</h1>
  {% if form.errors %}
    <p class="text-danger" >Please correct the errors below.</p>
  {% endif %}
  <br>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <br>
  <a href="{% url 'notes' %}" class="lead">back</a>

  <script>
    if ($("#id_title").val()) {
      $('#title').html('Edit Note');
      $('#note-nav').html('Edit Note')
    }
  </script>

{% endblock %}

{% block sidebar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'notes' %}">My Notes</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" id="note-nav" href="{% url 'noteCreate' %}">Add Note</a>
  </li>
{% endblock %}