{% extends "base.html" %} {% load humanize %} {% block content %}
<span class="display-4">{{ user.get_username|title }}'s Notes</span>

<hr style="border-top: 1px solid #707070; margin: 5px 0 20px 0">
<div class="sort-icons">
  <i id="colour" class="material-icons" style="font-size: 48px">
    color_lens
  </i>
  <i id="group" class="material-icons" style="font-size: 48px">
    class
  </i>
  <i id="dateDue" class="material-icons" style="font-size: 48px">
    alarm
  </i>
  <a class="text-danger pl-2" style="position: relative; top: -15px; font-size: 1.3rem" href="{% url 'notes' %}">Clear</a>
  <a style="font-size: 1.8rem;
        color: #727272;
        text-decoration: none;
        position: relative;
        top: -10px" class="float-right" href="{% url 'noteCreate' %}">Add
    <span style="color: #5F9CFF; 
        font-size: 2.6rem; 
        margin-bottom: 20px;">+</span>
  </a>
</div>

{% if noteList %}
<div class="row notelist pr-3">
{% for note in noteList %}
<div class="note col-12 col-lg-6 {{ note.colour }}">
  {% if note.description %}
  <div class="note-title pl-3 py-1">
    {{ note.title|truncatechars:33 }}
    <div class="float-right pt-1 pr-2">
      <a href="{% url 'editNote' note.id %}">
        <i class="edit material-icons text-dark">
          create
        </i>
      </a>
      <a href="{% url 'deleteNote' note.id %}">
        <i class="delete material-icons text-dark">
          clear
        </i>
      </a>
    </div>
  </div>
  {% else %}
  <div class="float-right pt-1 pr-2">
      <a href="{% url 'editNote' note.id %}">
        <i class="edit material-icons text-dark">
          create
        </i>
      </a>
      <a href="{% url 'deleteNote' note.id %}">
        <i class="delete material-icons text-dark">
          clear
        </i>
      </a>
    </div>
  {% endif %}
  <div class="note-body" style="width: 100%; overflow-x: auto; overflow-y: auto; height: 110px;">
    {% if note.description %}
      {{ note.description }}
    {% else %}
      <div class="text-center mt-2 display-4">{{ note.title }}</div>
    {% endif %}
  </div>
  <div style="position: absolute; top: 145px; width: 100%;" class="note-footer">
    <hr class="mt-0 mb-1">
    <span class="pl-1">
      <i class="material-icons" style="position: relative; top: 7px">
        class
      </i> {{ note.group }}</span>
    <span class="float-right pr-1"><i class="material-icons" style="position: relative; top: 7px">
        alarm
      </i> {{ note.dateDue|naturaltime }}</span>
  </div>
</div>
{% endfor %}

</div>
{% else %}
<div class="jumbotron">
  <h1 class="display-4">Hmmm.</h1>
  <p class="lead">You dont have any notes...</p>
  <p class="lead">Lets start adding some!</p>
  <hr class="my-4">
  <a href="{% url 'noteCreate' %}" class="btn btn-primary btn-lg">Add</a>
</div>
{% endif %} {% endblock %} {% block sidebar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'index' %}">Home</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{% url 'notes' %}">My Notes</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'noteCreate' %}">Add Note</a>
</li>
{% endblock %}